<p id="notice"><%= notice %></p>

<p>
  <strong><%= Product.human_attribute_name :name %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= Product.human_attribute_name :price %>:</strong>
  <%= @product.price %>
</p>

<p>
  <strong><%= Product.human_attribute_name :stock %>:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong><%= Product.human_attribute_name :note %>:</strong>
  <%= @product.note %>
</p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
	<div>
		<strong><%= comment.user_name %></strong>
		<br />
		<p><%= comment.body %></p>
		<p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
	</div>
<% end %>
<%= render 'comments/form', comment: @comment %>

<p><%= link_to Product.human_attribute_name(:Edit), edit_product_path(@product) ,class: 'btn btn-primary'%></p>
<%= link_to Product.human_attribute_name(:Back), products_path,class: 'btn btn-primary' %>
