<p id="notice"><%= notice %></p>

<p>
  <strong><%= Product.human_attribute_name :name %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= Product.human_attribute_name :price %>:</strong>
  <%= @product.price %>
</p>

<p>
  <strong><%= Product.human_attribute_name :stock %>:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong><%= Product.human_attribute_name :note %>:</strong>
  <%= @product.note %>
</p>
<p><%= link_to Product.human_attribute_name(:Edit), edit_product_path(@product) ,class: 'btn btn-primary'%></p>
<%= link_to Product.human_attribute_name(:Back), products_path,class: 'btn btn-primary' %>

